html {
    background: url("../images/3.Star Wars Background/slika1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

#znak {
    position: relative;
    top: -1em;
    left: 2%;
    font-size: 45px;
    color: rgba(255, 94, 0, 0.788);
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

#divJedan {
    position: relative;
    top: 0.2em;
    left: 75%;
    width: 100px;
    height: 40px;
}

button{
    cursor: pointer;
}

legend{
    cursor: context-menu;
}

#naslov {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 30px;
    color: rgba(255, 94, 0, 0.788);
    cursor: pointer;
}

#divLogIn {
    position: relative;
    top: 21em;
    left: 2%;
    height: 270px;
    width: 25%;
    background-color: rgba(0, 0, 0, 0.589);
    border-radius: 30px;
}

#naslovLogIn {
    position: absolute;
    top: 2%;
    left: 4%;
    color: rgba(255, 94, 0, 0.89);
    font-size: 18px;
    font-family: "Lucida Console", Monaco, monospace;
    cursor: context-menu;
}

.textLeg{
    color: rgba(255, 94, 0, 0.89);
    font-size: 18px;
    font-family: "Lucida Console", Monaco, monospace;
}

#fieldSet1 {
    display: inline-block;
    width: 70%;
    position: absolute;
    left: 5%;
    top: 20%;
    border-radius: 20px;
}

#fieldSet2 {
    display: inline-block;
    width: 70%;
    position: absolute;
    left: 5%;
    top: 50%;
    border-radius: 20px;
}

#username {
    border-radius: 15px 
}

#password{
    border-radius: 15px
}

#logInDugme {
    position: absolute;
    top: 80%;
    left: 70%;
    font-size: 18px;
    border-radius: 10px
}

#proveriLozinku {
    position: absolute;
    top: 60%;
    left: 56%;
    font-size: 17px;
    border-radius: 10px;
}