html{
    z-index: -1;
    background-image: url("../images/7.The Hobbit Background/slika6.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

#divNavigacija{
    position: relative;
    width: 100%;
    height: 15em;
    background-repeat: no-repeat;
    margin: 0;
}

#tekstNaslova{
    position: absolute;
    left: 9%;
    top: -1.2em;
}

#tekstNaslovaStil{
    font-size: 60px;
    color: rgba(255, 94, 0, 0.89);
    cursor: pointer;
}

#znak {
    position: absolute;
    top: 0.6em;
    left: 2%;
    font-size: 45px;
    color: rgba(255, 94, 0, 0.788);
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}

#noviAdmin{
    position: absolute;
    top: 10%;
    left: 90%;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.493);
    border-color: rgba(0, 0, 0, 0);
    color: aliceblue;
    padding: 8px;
    border-radius: 5%;
}

#izmeniProfil{
    position: absolute;
    top: 10%;
    left: 90%;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.493);
    border-color: rgba(0, 0, 0, 0);
    color: aliceblue;
    padding: 8px;
    border-radius: 5%;
}

#noviAutor{
    position: absolute;
    top: 10%;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.493);
    border-color: rgba(0, 0, 0, 0);
    color: aliceblue;
    padding: 8px;
    border-radius: 5%;
}

#novaKnjiga{
    position: absolute;
    top: 35%;
    left: 90%;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.493);
    border-color: rgba(0, 0, 0, 0);
    color: aliceblue;
    padding: 8px;
    border-radius: 5%;
}

#mojaKorpa {
    position: absolute;
    top: 35%;
    left: 90%;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.493);
    border-color: rgba(0, 0, 0, 0);
    color: aliceblue;
    padding: 8px;
    border-radius: 5%;
}

#logOut {
    position: absolute;
    top: 60%;
    left: 95%;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.493);
    border-color: rgba(0, 0, 0, 0);
    color: aliceblue;
    padding: 8px;
    border-radius: 5%;
}

#zajednickiDiv{
    position: relative;
    left: 7%;
    top: 5.5em;
    background-color: rgba(0, 0, 0, 0.582);
    width: 35%;
    height: 8em;
    border-radius: 5%;
}

#div1{
    font-size: 25px;
    color: aliceblue;
    position: relative;
    top: 15%;
    left: 7%;
}

#div2{
    font-size: 25px;
    color: aliceblue;
    position: relative;
    top: 30%;
    left: 7%;
}

.inputiPretrage{
    border-radius: 5%;
    color: aliceblue;
    background-color: transparent;
}

.tekstLabele{
    font-family: Impact, Charcoal, sans-serif;
}

#pretraziDugme{
    position: relative;
    font-size: 25px;
    color: aliceblue;
    top: 2.5em;
    left: 7%;
    border: 2px solid white;
    border-radius: 2px;
    background-color: transparent;
}

#divAutori{
    position: relative;
    width: 20%;
    top: 3em;
    left: 2%;
}

#ljubiteljiKnjiga{
    color: aliceblue;
    cursor: context-menu;
}

#buttonAutori{
    position: absolute;
    top: 100%;
    border: 2px solid rgba(0, 0, 0, 0.664);
    border-radius: 12px;
    background-color: transparent;
    padding: 0.4%;
    font-size: 18px;
    left: 0%;
    color: aliceblue;
}

#promo{
    position: fixed;
    top: 2em;
    width: 60%;
    right: 5%;
}

#divPromoDesno{
    position: relative; 
    width: 85%;
    left: 15%;
}

button{
    cursor: pointer;
}

img{
    width: 100%;
}

img[class="zoom"]{
    position: relative;
}

img[class="zoom"]:hover{
    transform: scale(1.15);
}

img[class="knjiga"]:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#slika1{
    width: 90%;
    left: 7%;
}

#slika2{
    width: 75%;
    left: 22%;
}

#slika3{
    width: 55%;
    left: 42%;
}

.zoom {
    position: relative;
    padding: 15px;
    transition: transform .2s;
    width: 100%;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.555);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    cursor: pointer;
}

.zoom:hover .overlay {
    width: 100%;
    left: 0;
}

.text {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

#divLevaStrana{
    position: relative;
    width: 30%;
    top: 5em;
    left: 2%;
}

.book{
    position: relative;
    display: inline-block;
    width: 35%;
    height: 100%;
    margin: 2em; 
}

.naslovKnjige{
    position: relative;
    color: aliceblue;
    text-align: center;
    font-weight: 200;
    font-family: "Lucida Console", Monaco, monospace;
    cursor: context-menu;
}

#volcanicHotTopics{
    position: relative;
    width: 60%;
    left: 20%;
    font-size: 60px;
    color: rgba(255, 94, 0, 0.89);
    text-align: center;
    box-shadow: 3px 5px 6px black;
    border-radius: 10%;
    cursor: context-menu; 
}