html {
    background-image: url('../images/2.The Lord of the Rings Background/slika5.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

#divNaslova {
    position: relative;
    top: 0.2em;
    left: 75%;
    width: 100px;
    height: 40px;
}

#naslov {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 30px;
    color: rgba(255, 94, 0, 0.788);
    cursor: pointer;
}

#znak {
    position: relative;
    top: -1em;
    left: 2%;
    font-size: 45px;
    color: rgba(255, 94, 0, 0.788);
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

#divContainer{
    position: relative;
    width: 100%;
}

#divLevaStrana{
    position: absolute;
    width: 30%;
    left: 5%;
    background-color: rgba(0, 0, 0, 0.432);
    border-radius: 10%;
    box-shadow: 3px 5px 6px black;
}

#plus {
    position: absolute;
    top: 3em;
    left: 80%;
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 50%;
}

img{
    position: relative;
    width: 60%;
    left: 20%;
    box-shadow: 0 8px 6px -6px black;
    margin-bottom: 1em;
    color: white;
}

.divLevaStranaH3{
    position: relative;
    left: 25%;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: 100; 
    color: white;
    cursor: context-menu;
}

#divDesnaStrana{
    position: absolute;
    width: 40%;
    left: 40%;
}

#divDesnaStranaGore{
    position: relative;
    background-color: rgba(0, 0, 0, 0.432);
    width: 100%;
    border-radius: 10%;
    box-shadow: 3px 5px 6px black;
}

form{
    position: relative;
    width: 100%;
    top: 2em;
}

.divInputNovaKnjiga{
    position: relative;
    width: 100%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

label[class="form"]{
    position: relative;
    left: 25%;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 20px;
    color: white;
}

input[class="form"]{
    position: relative;
    width: 30%;
    left: 30%;
    text-align: center;
}

button[class="form"]{
    position: relative;
    width: 30%;
    left: 35%;
    text-align: center;
    top: -1em;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    color: rgba(240, 248, 255, 0.89);
    cursor: pointer;
}

input[type="file"]{
    position: relative;
    width: 8%;
    left: 35%;
    text-align: center;
    top: -1em;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    color: rgba(240, 248, 255, 0.89);  
}

textarea[class="form"]{
    position: relative;
    width: 40%;
    left: 40%;
    top: -2.5em;
}

#selectChooseAnAuthor{
    position: relative;
    width: 40%;
    font-size: 20px;
    font-family: "Lucida Console", Monaco, monospace;
} 

#selectZanr{
    position: relative;
    width: 40%;
    font-size: 20px;
    font-family: "Lucida Console", Monaco, monospace;
} 

select{
    position: relative;
    width: 30%;
    left: 55%;
    top: -1em;
    text-align: center;
}

i.fa-plus {
    position: absolute;
    display: block;
    left: -8em;
    cursor: pointer;
    font-size: 20px;
    color: white;
    width: 5%;
}
i:hover {
    opacity: 0.6;
}

#slika{
    display: none;
}